<nav class="navbar navbar-expand-lg navbar-dark bg-success ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars white-bars" aria-hidden="true"></i>
      </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        <div class="navbar-nav d-flex justify-content-end w-100">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Crear orden</a>
                </li>
                <li *ngIf="administrador" class="nav-item">
                    <a class="nav-link" href="#">Gestionar usuarios</a>
                </li>
                <li *ngIf="empleado || administrador" class="nav-item">
                    <a class="nav-link" href="#">Gestionar productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Revisar ordenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cerrar sesión</a>
                </li>
              </ul>
        </div>
    </div>
</nav>