<app-navbar></app-navbar>

<div class="container m-5">

    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th>{{user.id}}</th>
            <td>{{user.user}}</td>
            <td>{{user.name}}</td>
            <td>{{user.rol}}</td>
            <td>{{user.state}}</td>
            <td>
                <a [routerLink]="['/editar-usuario/', user.id]" class="btn btn-warning"><i class="fa fa-pencil-square-o " aria-hidden="true ">Editar</i></a>
            </td>
          </tr>
        </tbody>
      </table>

</div>